body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
}
.authorName{
    font-size: 1.2em;
    font-weight: bold;
}
.song-link{
    background-color: #40a556;
    color: white;
    padding: 9px 20px;
    border-radius: 1.5rem;
    text-align: center;
    text-decoration: none;
 
}
#goBack{
    color: #ffffff;
    font-size: 1.2em;
}
#goBack:hover{
    color: #c7c3c3;
    font-size: 1.4em;
}
#clearDiv{
    display: none;
}
#clear{
    color: #ffffff;
    font-size: 1.2em;
    border: 2px solid #ffffff;
}